.flip-animation {
  animation: flip 1s forwards;
  perspective: 1000px;
}

@keyframes flip {
  0% {
    transform: perspective(1000px) scaleX(-1);
  }
  
  100% {
    transform: perspective(1000px) scaleX(1);
  }
}

.slide-in {
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flip-button {
  animation: flips 1s forwards;
  perspective: 1000px;
  transform-style: preserve-3d;
}

@keyframes flips {
  0% {
    transform: perspective(1000px) rotateX(0);
  }
  50% {
    transform: perspective(1000px) rotateX(180deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg);
  }
}
.sliderCon{
  margin-left: 10%;
  /* align-items: center; */
}

.aboutText {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
}
.aboutImage{
  margin-right: 10%;
  margin-top: 5%;

}
.aboutImage img{
  height:85%;
  width: 100%;
}